<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Statement</title>
    <style>
      body {
        font-family: 'Roboto', sans-serif;
        max-width: 800px;
        margin: 20px auto;
        background-color: #f8f8f8;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      h1 {
        text-align: center;
        color: #111111;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
      }

      th,
      td {
        border: 1px solid #ccc;
        padding: 12px;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
      }

      tbody tr:nth-child(even) {
        background-color: #f9f9f9;
      }

      .analytics {
        margin-top: 30px;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
      }

      .analytics h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 10px;
      }

      .analytics p {
        font-size: 18px;
        margin: 10px 0;
        color: #3b3b3b;
      }

      .income {
        color: #0ca55d;
      }

      .expense {
        color: #d63031;
      }

      .balance {
        color: #001f3f;
      }
    </style>
  </head>

  <body>
    <h1>Expense Tracker</h1>

    <!-- Display Analytics -->
    <div class="analytics">
      <h2>Analytics</h2>
      <p>Total Income: <b class="income"><%= totalIncome.toFixed(2) %></b></p>
      <p>Total Expense: <b class="expense"><%= totalExpense.toFixed(2) %></b></p>
      <p>Balance: <b class="balance"><%= balance.toFixed(2) %></b></p>
      <p>Income Percentage Change: <b><%= incomePercentageChange.toFixed(2) %>%</b></p>
      <p>Expense Percentage Change: <b><%= expensePercentageChange.toFixed(2) %>%</b></p>
    </div>

    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Transaction</th>
          <th>Credit</th>
          <th>Debit</th>
          <th>Transfer</th>
        </tr>
      </thead>
      <tbody>
        <% transactions.forEach(transaction => { %>
        <tr>
          <td><%= new Date(transaction.createdAt).toLocaleDateString() %></td>
          <td><%= transaction.text %></td>
          <td>
            <b class="income"><%= transaction.isIncome ? transaction.amount.toFixed(2) : '' %></b>
          </td>
          <td>
            <b class="expense"><%= transaction.isIncome ? '' : -transaction.amount.toFixed(2) %></b>
          </td>
          <td><%= transaction.transfer %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
